//
//  Config-Secrets.xcconfig
//  app_desenrola_agora
//
//  Created by Cawany Cristina Almeida Fonseca on 18/09/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

PLUGGY_CLIENT_ID=c8d84e1c-3aba-4eee-9df0-9dad6e7bc2f2
PLUGGY_CLIENT_SECRET=BAx-lakMtdA7YIHPsJRoWLjIJvWUebPQqE20SIvaYR8
